%field {
  appearance: none;
  background-color: color-mod(var(--primary-color) shade(85%));
  /* border-radius: 0.2em; */
  border: none;
  border-bottom: 3px solid color-mod(var(--primary-color) shade(25%));
  color: color-mod(var(--primary-color) tint(80%));
  font-size: 1.2rem;
  padding: 0.8em;
  transform: all 0.2s;
  text-align: center;

  &::placeholder {
    color: var(--theme-secondary-foreground-color);
  }

  &:focus {
    outline: none;
    border-color: var(--dusk-blue);
  }

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

input {
  @extend %field;
}
textarea {
  @extend %field;
  height: 12rem;
  resize: none;
}

form {
  margin: 2rem 0;
}

fieldset {
  padding: 0;
  margin-bottom: var(--spacing-default);
  border: none;

  & input {
    margin-bottom: 1rem;
  }

  & .textarea {
    flex-basis: 100%;
  }
}
