@import "helpers/_glob";
@import "components/_glob";
@import "page";

body {
  background-color: black;
  color: #fff;
  font-family: var(--text-font);
  font-size: 16px;
  margin: 0;
}

a {
  color: var(--secondary-color);
}

.page-heading {
  @extend %heading;
  font-weight: 600;
}

.main-container {
  padding: 0 2rem;
  @media (--full-grid-container) {
    padding: 0 var(--main-container-padding);
  }
}

.hidden {
  display: none;
}

.site-footer {
  color: color-mod(var(--primary-color) tint(40%));
  font-size: 0.98rem;
  line-height: 1.5;
  opacity: 0.6;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}
