@import "helpers/_glob";
@import "components/_glob";

body {
  background-color: var(--primary-color);
  color: #fff;
  font-family: var(--text-font);
  font-size: 16px;
  margin: 0;
}

.page-heading {
  @extend %heading;
  font-weight: 600;
}

.main-container {
  padding: 0 2rem;
  @media (--full-grid-container) {
    padding: 0 var(--main-container-padding);
  }
}

.hidden {
  display: none;
}

canvas {
  display: block;
  width: 100%;
}

.logo-container {
  position: absolute;
  top: calc(70vh - 200px);
  height: 25vh;
  width: 100%;
  text-align: center;
}

.main-logo {
  min-width: 220px;
  max-width: 320px;
  width: 40vw;
  transform: rotateX(5deg) rotateY(5deg);
  margin-bottom: 5vh;
}

.date-subheading {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
}

#gl-view {
  height: 100vh;
  margin-top: -200px;
}
